body {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

header {
  height: 2rem;
}

nav {
  float: right;
}

.navigation__wrapper-a {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  box-shadow: 0px 5px 5px -4px rgba(0, 0, 255, 0.1);
  z-index: 3;
  display: flex;
  padding: 50px 50px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.navigation__wrapper-b {
  position: fixed;
  padding: 1rem 0;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  justify-content: space-between;
  background: white;
  box-shadow: 0px 5px 5px -4px rgba(0, 0, 255, 0.1);
  z-index: 3;
}

#header-title {
  float: left;
  letter-spacing: 1.5px;
  font-size: 20px;
  line-height: 1.3;
  color: #606060;
  text-transform: uppercase;
  width: 12.61px;
  height: 16.89px;
  padding-right: 100px;
}

.nav-link {
  float: left;
  padding: 5px 50px 0 15px;
  color: #606060;
  font: 1em sans-serif;
  margin-bottom: 30px;
  display: flex;
}
.together {
  text-transform: uppercase;
  padding-left: 30px;
}

.together-2 {
}

#english a {
  color: #fab018;
  padding-left: 250px;
}

#Russian a {
  padding-right: 50px;
}

.nav-link a:hover {
  font-weight: 600;
}

.navigation__wrapper-b a {
  text-decoration: none;
  color: #117d5a;
}

#nav-bar-button {
  width: 125px;
  height: 50px;
  background: #ff227c;
  text-transform: uppercase;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(234, 71, 138, 0.3);
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
}

.top-section {
  position: relative;
}

#profile {
  color: #999999;
  text-align: center;
  padding-top: 100px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px auto;
}

hr {
  opacity: 0.5;
  border: 0.25px solid #999999;
  border-bottom-color: #ff227c;
}

.submit-button {
  width: 150px;
  height: 37.5px;
  color: white;
  background: #ff227c;
  box-shadow: 0px 10px 25px rgba(234, 71, 138, 0.5);
  cursor: pointer;
  border-radius: 30px;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
}

.border-container {
  width: 510px;
  height: 250px;
  display: flex;
  justify-content: center;
  background: #f0f4f7;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin: auto;
}

.border-container-2 {
  width: 137.5px;
  height: 137.5px;
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 50%;
  background: #f0f4f7;
}

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  color: #999999;
  float: left;
}
/* Form styling*/
.form-style {
  max-width: 500px;
  padding: 30px;
  margin: 0 auto 0 auto;
  width: 1266px;
  height: 500px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(184, 202, 211, 0.2);
}
.form-style ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.form-style ul li {
  display: block;
  margin-bottom: 10px;
  min-height: 35px;
}
.form-style ul li .field-style {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 8px;
  outline: none;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.form-style ul li .field-split {
  width: 49%;
}
#firstname {
  border-bottom: 0.75px solid #ff227c;
}
.form-style ul li input.align-left {
  float: left;
  border: none;
  border-bottom: 0.25px solid #606060;
  padding-top: 50px;
}
.form-style ul li input.align-right {
  float: right;
  border: none;
  border-bottom: 0.25px solid #606060;
  padding-top: 50px;
}

.form-style-9 ul li input[type="button"],
.form-style-9 ul li input[type="submit"] {
  -moz-box-shadow: inset 0px 1px 0px 0px #3985b1;
  -webkit-box-shadow: inset 0px 1px 0px 0px #3985b1;
  box-shadow: inset 0px 1px 0px 0px #3985b1;
  background-color: #216288;
  border: 1px solid #17445e;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: 8px 18px;
  text-decoration: none;
  font: 12px Arial, Helvetica, sans-serif;
}
.form-style ul li input[type="button"]:hover,
.form-style ul li input[type="submit"]:hover {
  background: linear-gradient(to bottom, #2d77a2 5%, #337da8 100%);
  background-color: #28739e;
}

/* Show the dropdown menu on hover */
.navigation__wrapper-a a {
  text-decoration: none;
  color: #606060;
}

@media screen and (min-width: 320px) and (max-width: 580px) {
  /* comes into effect for screens between 321 and 480 pixels (inclusive) */
  .container {
    width: 320px;
  }
  .navigation__wrapper-a {
    display: none;
  }

  .navigation__wrapper-b {
    display: flex;
  }
}
